@keyframes slideInTop {
    0% {
        transform: translateY(-100%);
    }
    70% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes slideInBottomFirst {
    0% {
        transform: translateY(100%);
    }
    70% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInBottomSecond {
    0% {
        transform: translateY(150%);
    }
    70% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-60%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes scaleWithBounce{
    0% {
        transform: scale(0);
    }
    70% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/*--------------- Stylisation de la page d'accueil ----------------*/

#homeBody{
    background-color: #FEEAA1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#topFrame{
    width:80%;
    height: auto;
    max-width: 400px;
    max-height: 400px;
    background-color: #3E5E4B;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: slideInTop;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

#jef{
    width: 80%;
    aspect-ratio: 2/1.5;
    border-radius: 10%;
    margin: 10%;
    object-fit: cover;
    alt: "Image de Jef qui flotte en mode chill";
}

.text{
    color: #0B2927;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#firstText{
    font-size: 2em;
    margin-top: 20%;
    margin-bottom: 20%;
}

#secondText{
    font-size: 1.3em;
    margin-top: 20%;
    margin-bottom: 20%;
}

#bottomFrame{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: max-content;
}

#buttonFrame{
    width: 90%;
    max-width: 400px;
    height: 64px;
    max-height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: slideInBottomSecond;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

#voirCv{
    width: 100%;
    height: 100%;
    background-color: #3E5E4B;
    border-radius: 100px;
    justify-self: center;
    align-content: center;
    padding: 5%;
    cursor: pointer;
    color: white;
    font-size: 1.2em;
    transition: width 1s;
}

#voirCv:hover{
    width: 80%;
}

/*--------------- Stylisation de la page du CV ----------------*/

#cvBody{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    background-color: beige;
    margin: 0;
}

#buttonsFrame{
    display: flex;
    flex-direction: row;
    gap: 8vw;
    position: fixed;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    height: auto;
    width: 100%;
    z-index: 4;
    backdrop-filter: blur(10px);
}

.mainIcones{
    margin: 11px;
}

.mainButton{
    clip-path: circle(40%);
    border-width: 0px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    cursor: pointer;
    animation: scaleWithBounce 1s ease-out;
}

#mainContainer{
    width: 375px;
    height: 812px;
    display: grid;
    margin-top: 72px;
    grid-template-columns: 40% 60%;
}

#leftContainer{
    background-color: #3E5E4B;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#triangleFrame{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 152px;
    background-color: #FEEAA1;
    clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
}

#diopPicture{
    position: absolute;
    left: 25%;
    top: 4%;
    z-index: 3;
    width: 50%;
    height: auto;
    border-width: 3px;
    border-color: white;
    border-style: solid;
    border-radius: 100px 100px 100px 0px;
    animation-name: slideInTop;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

#leftVerticalLine{
    width: 1px;
    height: 100%;
    z-index: 0;
    position: absolute;
    left: 10%;
    background-color: rgb(255, 255, 255, 0.7);
}

.littleShapeLeft{
    width: 7px;
    height: 21px;
    background-color: #FEEAA1;
    border-radius: 100px;
    position: absolute;
    left: 8%;
}

#contactShape{
    top: 18%;
}

.littleCircleLeft{
    width: 5px;
    height: 5px;
    clip-path: circle(40%);
    position: absolute;
    left: 8.8%;
    background-color: #FEEAA1;
}

#phoneCircle{
    top: 22%;
}

#githubCircle{
    top: 25%;
}

#linkedinCircle{
    top: 27.8%;
}

#mailCircle{
    top: 31%;
}

#locationCircle{
    top: 34.3%;
}

#contactFrame{
    position: absolute;
    display: flex;
    gap: 8px;
    flex-direction: column;
    left: 15%;
    top: 18%;
    width: 80%;
    height: auto;
}

.contactText{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#mail{
    overflow-wrap: break-word;
    max-width: 100px;
}

.leftIcones{
    color: white;
    margin-right: 5px;
}

#educationShape{
    top: 42%;
}

#masterCircle{
    top: 45.8%;
}

#licenceCircle{
    top: 56.7%;
}

#educationFrame{
    position: absolute;
    left: 15%;
    top: 42%;
    width: 80%;
    gap: 8px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.educationText{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#masterText{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#licenceText{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#certificatShape{
    top: 73%;
}

#sqlCircle{
    top: 76.8%;
}

#efsetCircle{
    top: 84.2%;
}

#certificatFrame{
    position: absolute;
    left: 15%;
    top: 73%;
    width: 80%;
    gap: 8px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.certificatText{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#efsetCertificat{
    margin-top: 15px;
}

#firstSeparator{
    position: absolute;
    top: 38.5%;
    left: 17%;
    border-top: 1.8px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: dashed;
    border-color: rgb(255, 255, 255, 0.7);;
    width: 75%;
    height: 0px;
}

#secondSeparator{
    position: absolute;
    top: 69.5%;
    left: 17%;
    border-top: 1.8px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: dashed;
    border-color: rgb(255, 255, 255, 0.7);;
    width: 75%;
    height: 0px;
}

#rightContainer{
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#nameBackShape{
    position: absolute;
    top: 2%;
    width: 100%;
    height: 9.1%;
    background-color: rgba(62, 94, 72, 0.65);
    animation: slideInLeft 750ms ease-out;
}

#rightVerticalLine{
    width: 1px;
    height: 100%;
    position: absolute;
    left: 10%;
    background-color: black;
}

.littleShapeRight{
    width: 7px;
    height: 21px;
    background-color: #FEEAA1;
    border-radius: 100px;
    position: absolute;
    left: 9%;
}

.littleCircleRight{
    width: 5px;
    height: 5px;
    clip-path: circle(40%);
    position: absolute;
    left: 9.8%;
    background-color: #FEEAA1;
}

#nameShape{
    top: 2.7%;
    height: 60px;
}

#nameFrame{
    position: absolute;
    width: auto;
    height: auto;
    left: 16%;
    top: 4.5%;
}

#completeName{
    font-size: 1em;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#lastName{
    color: #FEEAA1;
}

#position{
    font-size: 0.6em;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#aboutMeFrame{
    position: absolute;
    left: 16%;
    top: 13%;
    width: 80%;
    gap: 8px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.rightText{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.rightIcones{
    background-color: #3E5E4B;
    padding: 1px;
    border-radius: 4px;
}

.rightTitleText{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: start;
    font-size: 12px;
}

#experienceFrame{
    position: absolute;
    left: 16%;
    top: 26%;
    width: 80%;
    gap: 8px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.experienceStyle{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#skillsFrame{
    position: absolute;
    left: 16%;
    top: 57%;
    width: 80%;
    gap: 8px;
    height: auto;
    display: flex;
    flex-direction: column;
}

#skillSets{
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 5px;
}

#skillName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#skillProgress{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    gap: 14px;
}

.progressBackground{
    width: 100%;
    height: 5px;
    border-radius: 100px;
    background-color: grey;
    position: relative;
}

.progressForeground{
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #FEEAA1;
    border-radius: 100px;
}

#kotlin{
    width: 95%;
}

#xml{
    width: 90%;
}

#sql{
    width: 92%;
}

#html{
    width: 75%;
}

#css{
    width: 80%;
}

#javascript{
    width: 20%;
}

#figma{
    width: 85%;
}

#languageFrame{
    position: absolute;
    left: 16%;
    top: 80%;
    width: 80%;
    gap: 8px;
    height: auto;
    display: flex;
    flex-direction: column;
}

#languageSets{
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 5px;
}

#languageName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#languageProgress{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    gap: 14px;
}

#french{
    width: 95%;
}

#english{
    width: 65%;
}

#bambara{
    width: 100%;
}

#wolof{
    width: 75%;
}

@media (max-aspect-ratio: 1/1){
    #buttonFrame{
        position: fixed;
        bottom: 0;
        padding-bottom: 10%;
        animation-name: slideInBottomSecond;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
    #secondText{
        margin-top: 70%;
    }
}

@media (min-aspect-ratio: 1/1){
    .cvButtons{
        margin: 16px;
    }
    #mainContainer{
        margin-top: 72px;
    }
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #FEEAA1;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: darkkhaki;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }